# Java compiled code
*.class
*.war
*.ear

Code/ShoppingList/gen/
Code/ShoppingList/bin/
Code/ShoppingListTests/gen/
Code/ShoppingListTests/bin/

# eclipse and setting files
*/eclipse
*/bin
*.launch
.settings/
.metadata

# Hidden files
.*
!.gitignore
!.classpath
!.project

# Temporary files
*/tmp
*~
*.tmp
*.bak
*.orig
._*

# OS specifc files
Thumbs.db
Desktop.ini
.DS_Store
.directory

Code/ShoppingListTests/project.properties
